// === VARIABLE SECTION ===

// --- colors ---
$green-01: #63d1bb; // Предметы интеръера, о нас, товар недели
$green-02: #56c3b2; // Детские игрушки
$white-01: white; // Текст раздела goods
$black-01: black; // Текст раздела about

// --- elements color ---

$h3-color: $green-01;
$link-color: black;
$goods-item-01: $green-01;
$goods-item-02: $green-02;
$goods-of-the-week: $green-01;
// --------------------------------------------


// --- fonts ---
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('../fonts/OpenSans-Bold.ttf');
}


$h2-font: 24px bold Verdana, sans-serif;
$h3-font: 16px bold "Open Sans", sans-serif;
$link-font: 16px bold Verdana, sans-serif;
$goods-font: 18px bold Tahoma, sans-serif;
$about-font: 16px bold Verdana, sans-serif;
$btn-font: 16px bold "Open Sans", sans-serif;
// --------------------------------------------


// --- dimensions ---
$mobile-menu-item-height: 80px;
$mobile-goods-height: 105px;
$mobile-arrow-btn-height: 50px;
$mobile-btn-height: 50px;
// --------------------------------------------
// --------------------------------------------
// --------------------------------------------


// --- LAYOUT ---

.page-wrapper {
  width: 320px;
  margin: 0 auto;
}
// --------------------------------------------

// --- COMMON ITEMS ---

h2 {
  font: $h2-font;
}

h3 {
  font: $h3-font;
}

.btn {
  height: $mobile-btn-height;
  font: $btn-font;
  text-transform: uppercase;
  border: 2px solid black;
  background-color: transparent;
  outline: none;
}


// --- NAVIGATION MENU ---

.menu__list {
  display: flex;
  padding: 0;
  flex-direction: column;
  list-style: none;
}

.menu__item {
  flex-basis: $mobile-menu-item-height;
  border-top: 1px solid grey;
  text-align: center;
  &:last-child {
    border-bottom: 1px solid grey;
  }
}

.menu__link {
  font: $link-font;
  color: $link-color;
  text-decoration: none;
}

// --- LOGO ---

.logo {
  position: relative;
}

.logo__figure {
  padding: 0;
  margin: 0;
}

.logo__title {
  position: absolute;
  top: 90px;
  left: 40px;
  width: 240px;
  text-align: center;
}

// --- GOODS ---

.goods {
  display: flex;
  flex-direction: column;
}

.goods__item-01,
.goods__item-02 {
  display: flex;
  flex-basis: $mobile-goods-height;
  font: $goods-font;
  color: $white-01;
}

.goods__item-01 {
  background-color: $goods-item-01;
}

.goods__item-02 {
  background-color: $goods-item-02;
}

// --- GOODS OF THE WEEK ---

.goods-of-the-week__subtitle {
  color: $goods-of-the-week;
}

.goods-of-the-week__figure {
  padding: 0;
  margin: 0;
}

.goods-of-the-week__properties {

  & td {
    padding: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
  }
  & td:first-child {
    width: 95px;
  }
}

// --- ABOUT ---

.about__description {
  font: $about-font;
}

// --- MAP ---

.map__figure {
  padding: 0;
  margin: 0;
}