@import "normalize";
@import "mixin";

// === VARIABLE SECTION ===

// --- colors ---
$green-01: #63d1bb; // Предметы интеръера, о нас, товар недели
$green-02: #56c3b2; // Детские игрушки
$white-01: white; // Текст раздела goods
$black-01: black; // Текст раздела about
$grey-01: #f1f1f1; // footer

// --- elements color ---

$h3-color: $green-01;
$link-color: black;
$goods-item-01: $green-01;
$goods-item-02: $green-02;
$goods-of-the-week: $green-01;
$footer: $grey-01;
// --------------------------------------------


// --- fonts ---
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('../fonts/OpenSans-Bold.ttf');
}


$h2-font: bold 23px Verdana, sans-serif;
$h3-font: bold 16px "Open Sans", sans-serif;
$link-font: bold 16px Verdana, sans-serif;
$goods-font: bold 18px Tahoma, sans-serif;
$about-font: bold 16px Verdana, sans-serif;
$btn-font: bold 16px "Open Sans", sans-serif;
// --------------------------------------------


// --- dimensions ---
$mobile-menu-item-height: 80px;
$mobile-goods-height: 105px;
$mobile-arrow-btn-height: 50px;
$mobile-btn-height: 50px;
$mobile-page-wrapper: 320px;
$mobile-inner-wrapper: 260px;
$mobile-footer-height: 80px;

// --- other ---
$mobile-menu-border: 1px solid rgba(128, 128, 128, 0.32);

// --------------------------------------------
// --------------------------------------------
// --------------------------------------------


// --- LAYOUT ---
.page {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: $mobile-page-wrapper;
  margin: 0 auto;
}

.inner-wrapper {
  width: $mobile-inner-wrapper;
  margin: 0 auto;
}
// --------------------------------------------

// --- COMMON ITEMS ---
* {
  box-sizing: border-box;
}

h2 {
  font: $h2-font;
  margin: 0;
  padding: 0;
}

h3 {
  font: $h3-font;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  width: 100%;
  height: $mobile-btn-height;
  text-align: center;
  padding-top: 12px;
  font: $btn-font;
  color: black;
  text-transform: uppercase;
  border: 1px solid #737373;
  background-color: transparent;
  outline: none;
  text-decoration: none;
}


// --- NAVIGATION MENU ---

.menu__list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  list-style: none;
  transition-duration: 1s;
  transition-delay: 0.1s;
  max-height: 500px;
}

.menu__list--hidden {
  max-height: 0;
  opacity: 0;
}

.menu__item-image {
  position: absolute;
  left: 40px;
}

.menu__item,
.logo {
  flex-basis: $mobile-menu-item-height;
  line-height: $mobile-menu-item-height;
  border-top: $mobile-menu-border;
}

.menu__item {
  transition-duration: 0.5s;
  max-height: 200px;
}

.menu__item--hidden {
  transform: translateX(100px);
  opacity: 0;
}

.menu__link {
  position: relative;
  padding-left: 90px;
  width: 100%;
  display: inline-block;
  font: $link-font;
  color: $link-color;
  text-decoration: none;
}

.menu__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $mobile-menu-item-height;
  border-top: $mobile-menu-border;
  border-bottom: $mobile-menu-border;
}

.menu__logo-image {
  width: 90px;
}

.menu__button {
  position: absolute;
  display: block;
  width: 26px;
  height: 21px;
  top: 30px;
  right: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient( white 60%, transparent 40%);
  background-size: 0.5em 0.5em;
  background-color: black;
}

// --- brand ---

.bran {
  display: flex;
  flex-flow: column;
}

.brand__logo {
  position: relative;
}

.brand__figure {
  padding: 0;
  margin: 0 0 -5px 0;
}

.brand__title {
  position: absolute;
  top: 90px;
  left: 40px;
  width: 240px;
  text-align: center;
}


.brand__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include inner-padding;
  min-height: $mobile-goods-height;
  font: $goods-font;
  color: $white-01;
}

.brand__item-figure {
  flex-basis: 50%;
  padding: 0;
  margin: 0;
  text-align: right;
}

.brand__item-image {
  width: 40px;
}

.brand__item--light {
  background-color: $goods-item-01;
}

.brand__item--darken {
  background-color: $goods-item-02;
}

// --- GOODS OF THE WEEK ---

.goods-of-the-week {
  @include inner-padding;
  padding-top: 30px;
  padding-bottom: 30px;
}

.goods-of-the-week__subtitle {
  margin-top: 10px;
  color: $goods-of-the-week;
  text-transform: uppercase;
}

.goods-of-the-week__description {
  line-height: 1.75rem;
}

.goods-of-the-week__figure {
  padding: 0;
  margin: 0;
}

.goods-of-the-week__properties {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  tr:not(:first-child) {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
  }
  tr:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }
  td {
    padding: 10px 0;
  }
  td:first-child {
    width: 95px;
  }
}

.goods-of-the-week__price {
  text-align: center;
}

// --- ABOUT ---

.about {
  @include inner-padding;
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about:before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: url('../images/index/Zigzag.svg') repeat-x;
  background-size: 100%;
}

.about-advantages {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.about-advantages__figure {
  margin: 0;
  padding: 0;
}

.about-advantages__description {
  font: $about-font;
}

// --- COMMENTS ---

.comments {
  @include inner-padding;
}

.comments__author-name {
  font-weight: bold;
}

.arrow-buttons {
  display: flex;
  height: $mobile-arrow-btn-height;
}

.arrow-buttons__btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.arrow-buttons__left-arrow,
.arrow-buttons__right-arrow {
  width: 50%;
  height: 30%;
  background-color: black;
}

.arrow-buttons__left-arrow {
  clip-path: polygon(40% 0%, 41% 35%, 100% 35%, 100% 65%, 40% 65%, 40% 100%, 0% 50%);
}

.arrow-buttons__right-arrow {
  clip-path: polygon(0 35%, 60% 34%, 60% 0%, 100% 50%, 60% 100%, 59% 65%, 0 65%);
}

.comments__feedback {
  line-height: 2rem;
}

.comments__btn {
  margin-top: 35px;
}

// --- CONTACTS ---

.contacts {
  padding-top: 45px;
  position: relative;
  margin: 40px 0;
  @include inner-padding;
}

.contacts:before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: url('../images/index/Zigzag.svg') repeat-x;
  background-size: 100%;
}

.contacts__title {
  padding: 0;
  margin: 0;
}

.contacts__email td {
  line-height: 50px;
  text-align: left;
}

.contacts__address td {
  line-height: 20px;
  vertical-align: top;
  text-align: left;
}

.write-to-us {
  @include inner-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 130px;
}


// --- MAP ---

.map__figure {
  padding: 0;
  margin: 0;
}


// --- FOOTER ---

.footer {
  background-color: $footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: $mobile-footer-height;
  border-bottom: 1px solid rgba(185, 185, 185, 0.41);
  width: 100%;
}

.social-links__btn {
  margin: 10px;
}

.designer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: $mobile-footer-height;
  width: 100%;
}

.designer__description {
  margin-left: 30px;
}

.designer__image {
  height: 30px;
}